<a class="administration-option" href="/Administration/EditShopSettings">EditShopSettings</a>
<a class="administration-option" href="/Administration/EditCategories">EditCategories</a>
<a class="administration-option" href="/Administration/EditProducts">EditProducts</a>
@*<a href="/Administration/EditShopSettings">AddProduct</a>*@

<style>
    .administration-option {
        display: block;
    }
</style>