<form class="login-form">
    <input type="text" placeholder="email" class="email-input" />
    <input type="password" placeholder="password" class="password-input" />
    <input type="button" value="login" class="login-button "/>
</form>

<script>
    const form = document.querySelector(".login-form");
    const button = form.querySelector(".login-button");
    button.addEventListener("click", () => {
        const email = form.querySelector(".email-input").value;
        const password = form.querySelector(".password-input").value;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/Auth/DoLogin/', true);
        xhr.setRequestHeader("Content-Type", "text/json");
        xhr.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                let response = JSON.parse(xhr.response);
                if (response.status == "success") {
                    location.href = "/";
                } else {
                    alert(response.error);
                }
            }

        }

        xhr.send(`{"Email":"${email}","Password":"${password}"}`);
    })
</script>